header {
    border: #9d7055 5px double;
    background-color: #2b150b;
    color: #9d7055;
    height: 100x;
    width: 100x;}
#logo{
    width: 100px;
    height: 100px;
    position: relative;
    top: -30px;
    left: 50%;
}

#titulo {
    text-align: center;
    font-size: smaller;
    padding: 10px;
    height: auto;
    width: 100%;
    position: relative;
    left: 3%;

}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    color:  #9d7055;;
    width: 100%;
    height: 600px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}


#contactanos {
    border: #9d7055 1px;
    text-align: justify;
    width: 75%;
    height: 150px;
    position: relative;
    top: 10px;
    left: 15%;
    margin-bottom: 15px;
    display: inline-flexbox;
}