header {
    border: #9d7055 5px double;
    background-color: #2b150b;
    color: #9d7055;
    height: 100x;
    width: 100x;}


#titulo {
    text-align: center;
    font-size: smaller;
    padding: 10px;
    height: 100px;
    width: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    color:  #9d7055;;
}


#informacion_general {
    padding-left: 100px;
    
}

#contactanos {
    border: black solid 1px;
    text-align: justify;
}