header {
    border: black solid 2px;
}

#titulo {
    text-align: center;
    padding: 10px;
    background-image: url('https://drive.google.com/file/d/1-sBi1-igU2gMrQHkqSYwv8ik5uDGtqIx/view?usp=sharing');
    background-size: 10px
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: cornsilk;
}

#informacion_general {
    padding-left: 100px;
}

#contactanos {
    border: black solid 1px;
    text-align: justify;
}