#prueba_i {
    color: brown;
    font-size: medium;
background-color: blue;
}

h2,
h3 {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lista {
    padding: 10px;
    background-color: aqua;
    color: blue;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
