
.container1{
   background-color:#161f36;
    text-align: center;
    height: 200px;
    width: auto;
    color: white;
    padding-top: 100px;
}

.centro{
    text-align: center;
    color: #161f36;
    padding-top: 25px;
    padding-bottom: 25px;
}


body{
    padding: 10px;
    border: whitesmoke solid 1px;
}

.archivo3{
    background-color: #161f36;
    color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}


#link1:link{    color:gray;
}

#link1:visited{    color: tomato;
}


#link1:hover{    color: green;
}